#root {
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
  background-color: lightblue;
  padding: 0 15px;
}

.header h1 {
  font-size: 20px;
}

.header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin : 10px;
  padding: 10px;
}

.header ul li {
  list-style: none;
}

.movie {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 10px;
  overflow: hidden;

}
.movie-info {
  display: flex;
  flex-direction: column;
   align-items: center;
  justify-content: center; 
}

.movies-list{
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em;
  position: fixed;
  bottom: 0;
}

.pagination button.active {
  background-color: #61dafb;
  color: white;
} 

.pagination-section{
  display: flex;
  justify-content: center;
  gap: 1em;
  margin: 1em;
}

.container {
  display: flex;
  gap: 1em;
}

.container .right-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.container .right-section input {
  padding: 10px;
  margin: 10px 0;
}

.container .right-section table{
  width: 100%;
}

.container .left-section {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

.container .left-section ul{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container .left-section ul li{
  list-style: none;
  border: #61dafb 1px solid;
  background-color: #61dafb;
  padding: 10px;
  border-radius: 10px;
  color: black;
}